*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /*Trativa para colocar o 1 rem como 10px*/
  font-size: 62.5%;
}

body{
  font-family: sans-serif;
}


@media (max-width:500px){
  :root{
    font-size: 50%;
    }
}